<div class="compose-btn-dropdown dropdown-menu" id="compose-btn-dropdown">
  <ul class="compose-btn-dropdown-menu-list">
    <li class="compose-btn-dropdown-menu-item new-folder-item">
      <div class="compose-btn-dropdown-menu-link new-folder-link">
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="compose-btn-dropdown-menu-icon new-folder-icon"
        >
          <path
            fill="#000000"
            d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10z"
          />
        </svg>
        <span>New Folder</span>
      </div>
    </li>
    <hr />
    <li class="compose-btn-dropdown-menu-item file-upload-item file-upload-btn">
      <div class="compose-btn-dropdown-menu-link file-upload-link">
        <svg
          viewBox="0 0 32 32"
          aria-hidden="true"
          class="compose-btn-dropdown-menu-icon file-uplad-icon"
        >
          <path
            fill="#000000"
            d="M6 3v26h20V9.6l-.3-.3l-6-6l-.3-.3H6zm2 2h10v6h6v16H8V5zm12 1.4L22.6 9H20V6.4zM16 13l-4 4h3v5h2v-5h3l-4-4zm-4 10v2h8v-2h-8z"
          />
        </svg>
        <label class="compose-btn-dropdown-menu-item-label file-upload-label"
          >File upload</label
        >
        <input
          type="file"
          class="compose-btn-dropdown-menu-item-input file-upload-input"
          id="fileUploadInput"
          hidden
        />
      </div>
    </li>
    <li
      class="compose-btn-dropdown-menu-item folder-upload-item folder-upload-btn"
    >
      <div class="compose-btn-dropdown-menu-link folder-upload-link">
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="compose-btn-dropdown-menu-icon folder-upload-icon"
        >
          <path
            fill="#000000"
            d="M20 18H4V8h16m0-2h-8l-2-2H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2m-4 11h-2v-4h-3l4-4l4 4h-3Z"
          />
        </svg>

        <label class="compose-btn-dropdown-menu-item-label folder-upload-label"
          >Folder upload</label
        >
        <input
          type="file"
          class="compose-btn-dropdown-menu-item-input folder-upload-input"
          id="folderUploadInput"
          webkitdirectory
          hidden
        />
      </div>
    </li>
    <hr />
    <li class="compose-btn-dropdown-menu-item google-docs-item">
      <a
        href="/drive/upload-folder"
        class="compose-btn-dropdown-menu-link google-docs-link"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="compose-btn-dropdown-menu-icon google-docs-icon"
        >
          <path
            fill="#4285f4"
            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1.99 6H7V7h10.01v2zm0 4H7v-2h10.01v2zm-3 4H7v-2h7.01v2z"
          />
        </svg>
        <span>Google Docs</span>
      </a>
    </li>
    <li class="compose-btn-dropdown-menu-item google-sheets-item">
      <a
        href="/drive/upload-folder"
        class="compose-btn-dropdown-menu-link google-sheets-link"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="compose-btn-dropdown-menu-icon google-sheets-icon"
        >
          <path
            fill="#0f9d58"
            d="M19 3H5c-1.1 0-1.99.9-1.99 2L3 8v11c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 8h-8v8H9v-8H5V9h4V5h2v4h8v2z"
          />
        </svg>
        <span>Google Sheets</span>
      </a>
    </li>
    <li class="compose-btn-dropdown-menu-item google-slides-item">
      <a
        href="/drive/upload-folder"
        class="compose-btn-dropdown-menu-link google-slides-link"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="compose-btn-dropdown-menu-icon google-slides-icon"
        >
          <path
            fill="#f4b400"
            d="M19 3H5c-1.1 0-1.99.9-1.99 2v14c0 1.1.89 2 1.99 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v8z"
          />
        </svg>
        <span>Google Slides</span>
      </a>
    </li>
    <li class="compose-btn-dropdown-menu-item google-vids-item">
      <a
        href="/drive/upload-folder"
        class="compose-btn-dropdown-menu-link google-vids-link"
      >
        <svg
          viewBox="0 -960 960 960"
          aria-hidden="true"
          class="compose-btn-dropdown-menu-icon google-vids-icon"
        >
          <path
            fill="#ff4081"
            d="M300-240L700-480L300-720v480Zm80-141V-579l164,99L380-381ZM200-120q-33 0-56.5-23.5T120-200V-760q0-33 23.5-56.5T200-840H760q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Z"
          />
        </svg>
        <span>Google Videos</span>
      </a>
    </li>
    <li class="compose-btn-dropdown-menu-item google-forms-item">
      <a
        href="/drive/upload-file"
        class="compose-btn-dropdown-menu-link google-forms-link"
      >
        <svg
          viewBox="0 0 24 24"
          aria-hidden="true"
          class="compose-btn-dropdown-menu-icon google-forms-icon"
        >
          <path
            fill="#673ab7"
            d="M7 11.5h1v-1H7v1zM19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-2h2v2zm0-4H7v-2h2v2zm0-4H7V7h2v2zm8 8h-6v-2h6v2zm0-4h-6v-2h6v2zm0-4h-6V7h6v2z"
          />
        </svg>
        <span>Google Forms</span>
      </a>
    </li>
  </ul>
</div>
