<div id="new-folder-popup" class="new-folder-popup">
  <div class="new-folder-popup-content">
    <div class="new-folder-popup-header">
      <h3>Folder name</h3>
      <button class="new-folder-popup-close-btn">×</button>
    </div>
    <div class="new-folder-popup-body">
      <input type="text" class="new-folder-popup-input" autofocus />
    </div>
    <div class="new-folder-popup-buttons">
      <button class="new-folder-popup-cancel">Cancel</button>
      <button class="new-folder-popup-save">Save</button>
    </div>
  </div>
</div>
