<div class="option-bar action-bar none">
  <div class="option-bar-btn option-bar-close-btn" data-tooltip="Close">
    <svg viewBox="0 0 24 24" focusable="false" class="Q6yead QJZfhe">
      <path
        d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
      />
      <path fill="none" d="M0 0h24v24H0V0z" />
    </svg>
  </div>
  <p><span class="selection-count">1</span> selected</p>
  <div class="option-bar-btn option-bar-share-btn" data-tooltip="Share">
    <svg viewBox="0 0 24 24" focusable="false" fill="currentColor">
      <path
        d="M9 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0-6c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm0 7c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4zm6 5H3v-.99C3.2 16.29 6.3 15 9 15s5.8 1.29 6 2v1zm3-4v-3h-3V9h3V6h2v3h3v2h-3v3h-2z"
      />
    </svg>
  </div>
  <div class="option-bar-btn option-bar-download-btn" data-tooltip="Download">
    <svg viewBox="0 0 24 24" focusable="false" fill="currentColor">
      <path
        d="M4 15h2v3h12v-3h2v3c0 1.1-.9 2-2 2H6c-1.1 0-2-.9-2-2m11.59-8.41L13 12.17V4h-2v8.17L8.41 9.59 7 11l5 5 5-5-1.41-1.41z"
      />
    </svg>
  </div>
  <div
    class="option-bar-btn option-bar-move-btn disabled-item"
    data-tooltip="Move"
  >
    <svg viewBox="0 0 24 24" focusable="false" fill="currentColor">
      <path fill="none" d="M0 0h24v24H0V0z" />
      <path
        d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 12H4V8h16v10zm-8.01-9l-1.41 1.41L12.16 12H8v2h4.16l-1.59 1.59L11.99 17 16 13.01 11.99 9z"
      />
    </svg>
  </div>
  <div
    class="option-bar-btn option-bar-bin-btn"
    data-tooltip="Move to bin (Delete)"
  >
    <svg
      viewBox="0 0 24 24"
      fill="currentColor"
      focusable="false"
      class="c-qd a-s-fa-Ha-pa"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M15 4V3H9v1H4v2h1v13c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V6h1V4h-5zm2 15H7V6h10v13zM9 8h2v9H9zm4 0h2v9h-2z"
      />
    </svg>
  </div>
  <div
    class="option-bar-btn option-bar-copy-btn disabled-item"
    data-tooltip="Copy link"
  >
    <svg viewBox="0 0 24 24" focusable="false" fill="currentColor">
      <path
        d="M3.9,12c0-1.7,1.4-3.1,3.1-3.1h4V7H7c-2.8,0-5,2.2-5,5s2.2,5,5,5h4v-1.9H7C5.3,15.1,3.9,13.7,3.9,12z M8,13h8v-2H8V13zM17,7h-4v1.9h4c1.7,0,3.1,1.4,3.1,3.1s-1.4,3.1-3.1,3.1h-4V17h4c2.8,0,5-2.2,5-5S19.8,7,17,7z"
      />
    </svg>
  </div>
  <div
    class="option-bar-btn option-bar-more-action-btn dropdown-trigger"
    data-menu="more-action-dropdown-menu"
    data-tooltip="More actions"
  >
    <svg viewBox="0 0 20 20" fill="currentColor">
      <path d="M0 0h20v20H0V0z" fill="none" />
      <path
        d="M10 6c.82 0 1.5-.68 1.5-1.5S10.82 3 10 3s-1.5.67-1.5 1.5S9.18 6 10 6zm0 5.5c.82 0 1.5-.68 1.5-1.5s-.68-1.5-1.5-1.5-1.5.68-1.5 1.5.68 1.5 1.5 1.5zm0 5.5c.82 0 1.5-.67 1.5-1.5 0-.82-.68-1.5-1.5-1.5s-1.5.68-1.5 1.5c0 .83.68 1.5 1.5 1.5z"
      />
    </svg>
  </div>
</div>
