<div class="r-sidebar r-sidebar-hide">
  <div class="r-sdb-nav-link">
    <div class="r-sdb-nav-icon-link">
      <nav class="r-sdb-nav-icons">
        <button class="r-sdb-icon-btn hover-o" data-tooltip="Calendar"><img src="https://www.gstatic.com/companion/icon_assets/calendar_2020q4_2x.png" alt="Calendar"></button>
        <button class="r-sdb-icon-btn hover-o" data-tooltip="Keep"><img src="https://www.gstatic.com/companion/icon_assets/keep_2020q4v3_2x.png" alt="Keep"></button>
        <button class="r-sdb-icon-btn hover-o" data-tooltip="Tasks"><img src="https://www.gstatic.com/companion/icon_assets/tasks_2021_2x.png" alt="Tasks"></button>
        <button class="r-sdb-icon-btn hover-o" data-tooltip="Contacts"><img src="https://www.gstatic.com/companion/icon_assets/contacts_2022_2x.png" alt="Contacts"></button>
      </nav>

      <button class="r-sdb-icon-btn r-sdb-add-btn hover-o">
        <svg viewBox="0 0 24 24" aria-hidden="true" class="new-icon">
          <path d="M20 13h-7v7h-2v-7H4v-2h7V4h2v7h7v2z" />
        </svg>
      </button>
    </div>


  </div>
</div>
<button class="r-sdb-chevron-btn chevron-btn r-sdb-icon-btn hover-o" data-toggle-class="r-sidebar-hide" data-tooltip="Hide side panel">
  <svg class="chevron-right-left" width="20" height="20" viewBox="0 0 24 24" fill="#5f6368">
    <path d="M8.59 16.59 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
  </svg>
</button>