* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1f20;
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1f20;
}

.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160vh;
    padding: 10px 3rem;
    height: 75vh;
    background-color: #0e0e0e;
    border-radius: 30px;
}

.signin-container a {
    text-decoration: none;
}

.signin-container {
    font-size: 0.85rem;
    color: aliceblue
}

.signin-container-content {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    height: 90%;
    width: 100%;
}

.signin-container-content-header {
    width: 50%;
}


.signin-header-titles {
    background-color: transparent;
    position: relative;
    top: 25px;
}

.signin-header-signin-title {
    font-size: 2.2rem;
    font-weight: light;
    margin-bottom: 20px;
}

.signin-header-continue-title {
    font-size: 1.1rem;
    font-weight: light;
}

.g-wrap {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.signin-container-content-form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.signin-form-container {
    height: 100%
}

.signin-form {
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signin-form-inputs {
    margin-top: 80px;
}

.birth-date-container {
    width: 100%;
    display: inline-flex;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    position: relative;
}

.signin-form-input {
    width: 100%;
    display: inline-flex;
    justify-content: stretch;
    align-items: center;
    gap: 10px;
    position: relative;
}

.signin-form-input input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: 1px solid aliceblue;
    padding: 0 10px;
    font-size: 1rem;
    color: aliceblue;
    border-radius: 5px;
    outline: none;
}



.custom-select .signin-form-input-label,
.signin-form-input-label {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: aliceblue;
    transition: all 0.2s;
    pointer-events: none;
    background-color: #0e0e0e;
    padding: 0 4px;
}

.custom-select select:focus~.signin-form-input-label,
.custom-select select:valid~.signin-form-input-label {
    transform: translateX(-7px) translateY(7px);
    top: -15px;
    left: 13px;
    font-size: 0.8rem;
    color: #8fc7fa;
    padding: 1px 10px;
}

.input-field.error select:focus~.signin-form-input-label,
.input-field.error select:valid~.signin-form-input-label {
    color: #e4918d;
}

.input-field.error select:focus~svg,
.input-field.error select:valid~svg {
    color: #e4918d;
}

.signin-form-input input:focus~span,
.signin-form-input input:not(:placeholder-shown)~span {
    transform: translateX(-7px) translateY(7px);
    top: -15px;
    left: 13px;
    font-size: 0.8rem;
    color: #8fc7fa;
    padding: 1px 10px;
}

.signin-form-input.error input:focus~span,
.signin-form-input.error input:not(:placeholder-shown)~span {
    color: #e4918d;
}

.signin-form-input input:focus {
    border: 1.5px solid #8fc7fa
}

.signin-form-input.error input:has(input:focus) {
    border: 1.5px solid #e4918d;
}

.signin-form-input-errors {
    margin-top: 7px;
    overflow-y: hidden;
    height: 20px;
}

.input-error {
    display: none;
    align-items: center;
    gap: 6px;
    color: #e4918d;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.input-error svg {
    width: 16px;
    height: 16px;
    fill: #e4918d;
}

.signin-form-input.error input {
    border: 1.5px solid #e4918d;
}


.input-field.error select {
    border: 1.5px solid #e4918d;
    outline: none;
}

.input-field.error select:focus {
    border: 1.5px solid #e4918d;
    outline: none;
}



.custom-select {
    position: relative;
    width: 100%;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 50px;
    padding: 13px 15px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 16px;
    color: aliceblue;
    background-color: #0e0e0e;
    cursor: pointer;
    z-index: 1000;
}

.custom-select select:focus {
    border-color: #8fc7fa;
    outline: none;
}

.signin-form-chevron {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
    background-color: transparent;
}

.custom-select select:focus~.signin-form-chevron {
    transform: translateY(-50%) rotate(-180deg);
    border-color: #8fc7fa;
}


/* Gender select styling */
.gender-select {
    margin-top: 8px;
    /* margin-bottom: 2px; */
}

.signin-form-gender-container {
    margin: 8px 0 8px 0;
}

.gender-label {
    display: block;
    font-size: 14px;
    color: #202124;
    margin-bottom: 8px;
}

.gender-helper {
    font-size: 12px;
    color: aliceblue;
    margin-top: 7px;
}




.signin-container-content-form-nav {
    display: flex;
    border-radius: 30px;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;

}

.signin-container-content-form-nav button {
    border: none;
    font-size: 0.9rem;
    border-radius: 30px;
    cursor: pointer;
}

.next-btn {
    background-color: #8fc7fa;
    color: #062e6f;
    width: 90px;
    height: 40px;
}

.signin-footer {
    margin-top: 20px;
    background-color: #1e1f20;
    padding: 0 1rem;
    color: #3e4140;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.language-selector {
    background-color: transparent;
    color: #3e4140;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 10px;
}

.language-selector select {
    color: aliceblue;
    height: 20px;
    width: 200px;
    background-color: transparent;
    border: none;
    outline: none;
}

.language-selector select option {
    background-color: #3e4140;
    color: aliceblue;
}

.language-selector:hover {
    background-color: #3e4140
}

.signin-footer-links {
    background-color: #1e1f20;
}

.signin-footer-links a {
    background-color: #1e1f20;
    color: aliceblue;
    margin-right: 10px;
    font-size: 0.8rem;
    text-decoration: none;
    border-radius: 10px;
    padding: 2px 10px;
}

.signin-footer-links a:hover {
    background-color: #3e4140
}