<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/loginPages/loginPassword.css">
  <link rel="stylesheet" href="../../stylesheets/dropdown.css">
</head>

<body>
  <main>
    <div class="login-container">
      <div class="login-container-content">
        <div class="login-container-content-header">
          <div class="g-wrap">
            <svg class="google-g" viewBox="0 0 48 48" aria-hidden="true">
              <path fill="#4285F4" d="M39.2 24.45c0-1.55-.16-3.04-.43-4.45H20v8h10.73c-.45 2.53-1.86 4.68-4 6.11v5.05h6.5c3.78-3.48 5.97-8.62 5.97-14.71z" />
              <path fill="#34A853" d="M20 44c5.4 0 9.92-1.79 13.24-4.84l-6.5-5.05C24.95 35.3 22.67 36 20 36c-5.19 0-9.59-3.51-11.15-8.23h-6.7v5.2C5.43 39.51 12.18 44 20 44z" />
              <path fill="#FABB05" d="M8.85 27.77c-.4-1.19-.62-2.46-.62-3.77s.22-2.58.62-3.77v-5.2h-6.7C.78 17.73 0 20.77 0 24s.78 6.27 2.14 8.97l6.71-5.2z" />
              <path fill="#E94235" d="M20 12c2.93 0 5.55 1.01 7.62 2.98l5.76-5.76C29.92 5.98 25.39 4 20 4 12.18 4 5.43 8.49 2.14 15.03l6.7 5.2C10.41 15.51 14.81 12 20 12z" />
            </svg>
          </div>
          <div class="login-header-titles">
            <p class="login-header-signin-title"><span>Welcome</span></p>
            <div class="user-email-container">
              <a href="/">
                <svg class="user-circle" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm6.36 14.83c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6z" />
                </svg>
                <span><%= email  %></span>
                <svg class="user-email-container-arrow" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M5 8l5 5 5-5z" />
                </svg></a>

            </div>
          </div>
        </div>
        <div class="login-container-content-form">
          <div class="login-form-container">
            <form class="login-form" js-ajax action="/users/login/password" method="POST" autocomplete="off" novalidate>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">

              <div class="login-form-inputs">

                <div class="login-form-input input-field ">
                  <input class="input" type="password" id="password" name="password" required placeholder=" ">
                  <span class="login-form-input-label input-label">Enter your password</span>
                </div>
                <span class="input-error " data-for="password" style="display:none">
                  <svg viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 0a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm1 13H9v-2h2v2zm0-4H9V5h2v4z" />
                  </svg>
                  <span class="msg-text"></span>

                </span>
                <div class="login-form-checkbox">
                  <input type="checkbox" id="show-password" name="show-password">
                  <label for="show-password">Show password</label>
                </div>
              </div>

              <div class="login-container-content-form-nav">
                <a class="login-form-forgot-password" href="/users/login/forget">Forgot password?</a>
                <button type="submit" class="next-btn">Next</button>

              </div>
            </form>
          </div>
        </div>
      </div>

    </div>

    <div class="login-footer">
      <language-selector class="language-selector">
        <select name="language" id="language">
          <option value="en">English (Untitled States)</option>
          <option value="vi">Tiếng Việt</option>
        </select>
      </language-selector>
      <div class="login-footer-links">
        <a href="https://support.google.com">Help</a>
        <a href="https://policies.google.com/terms?gl=en-US">Terms</a>
        <a href="https://policies.google.com/privacy?gl=en-US">Privacy</a>
      </div>
    </div>

  </main>
  <script src="/javascripts/showPassword.js"></script>
  <script src="../../javascripts/ajaxFormSubmit.js"></script>



</body>

</html>