.dropdown-menu {
  display: none;
  position: absolute;

  border-radius: 5px;
  min-width: 100px;
  width: 224px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  background-color: #fff;
  padding: 6px 0;
  z-index: 111;
}

.dropdown-trigger {
  position: relative;
  z-index: 100;
}

.dropdown-menu li {
  display: block;
  cursor: pointer;
  color: rgb(32, 33, 36);
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  outline: none;
  padding: 6px 30px;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.dropdown-menu li:hover {
  background-color: #f1f3f4;
}

.dropdown-menu * {
  background-color: transparent;
}

.open {
  display: block;
}
