* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1f20;
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e1f20;
}


.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160vh;
    padding: 5px 3rem;
    height: 75vh;
    background-color: #0e0e0e;
    border-radius: 30px;
    font-size: 0.85rem;
    color: aliceblue
}

.login-container a {
    text-decoration: none;
}


.login-container-content {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    height: 90%;
    width: 100%;
}

.login-container-content-header {
    width: 55%;
}

.g-wrap {
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.login-header-titles {
    background-color: transparent;
    position: relative;
    top: 25px;
}

.login-header-signin-title {
    font-size: 2.2rem;
    font-weight: light;
    margin-bottom: 20px;
}

.login-header-continue-title {
    font-size: 1.1rem;
    font-weight: light;
}

.user-email-container {
    min-width: 220px;
    width: 240px;
    max-width: 350px;
}

.user-email-container a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 4px 10px;
    border: 1px solid aliceblue;
    border-radius: 30px;
    color: aliceblue;
}

.user-circle {
    width: 24px;
    height: 24px;
    fill: currentColor;
    color: #5f6368;
    cursor: pointer;
    transition: transform .2s, color .2s;
}

.user-email-container-arrow {
    width: 20px;
    height: 20px;
    fill: currentColor;
    color: #5f6368;
    cursor: pointer;
    transition: transform .2s, color .2s;
    margin-left: 20px;
}

.user-email-container a:hover {
    transform: scale(1.02);
    color: #1a73e8;
    border: 1px solid #1a73e8;
}

.user-email-container a:hover svg {
    transform: scale(1.02);
    color: #1a73e8;
}


.login-container-content-form {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
}

.login-form-container {
    height: 100%;
}

.login-form {
    height: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-form-inputs {
    margin-top: 130px;
}

.login-form-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    border: 1.5px solid aliceblue;
    border-radius: 5px;
    margin-bottom: 10px;
}

.login-form-input input {
    height: 50px;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0 10px;
    font-size: 1rem;
    color: aliceblue;
    border-radius: 5px;
    outline: none;
}

.login-form-input-label {

    position: absolute;
    top: 6px;
    left: 10px;
    padding: 10px;
    font-size: 1rem;
    color: aliceblue;
    pointer-events: none;
    transition: 0.2s;
}

.login-form-input input:focus~span,
.login-form-input input:not(:placeholder-shown)~span {
    transform: translateX(-7px) translateY(7px);
    top: -15px;
    left: 13px;
    font-size: 0.8rem;
    color: #8fc7fa;
    padding: 1px 10px;
}

.login-form-input.error input:focus~span,
.login-form-input.error input:not(:placeholder-shown)~span {
    color: #e4918d;
}

.login-form-input:has(input:focus) {
    border: 1.5px solid #8fc7fa;
}

.login-form-input.error:has(input:focus) {
    border: 1.5px solid #e4918d
}

.login-form-input.error span {
    color: #e4918d
}

.login-form-input-errors {
    margin-top: 10px;
    overflow-y: hidden;
    height: 20px;
}

.input-error {
    display: none;
    gap: 6px;
    color: #e4918d;
    font-size: 0.8rem;
    /* margin-top: 7px; */
}

.input-error svg {
    width: 16px;
    height: 16px;
    fill: #e4918d;
}

.login-form-input.error {
    border: 1.5px solid #e4918d;
}

.login-form-input.error:focus {
    border: 1.5px solid #e4918d;
}

.login-form-checkbox {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-form-checkbox label {
    font-size: 0.9rem;
    color: aliceblue;
}

.login-form-forgot-password {
    font-size: 0.9rem;
    color: #8fc7fa;
}



.login-container-content-form-nav {
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    gap: 30px;
    margin-bottom: 10px;

}

.login-container-content-form-nav a,
button {
    border: none;
    font-size: 0.9rem;
    border-radius: 30px;
    cursor: pointer;
}




.next-btn {
    background-color: #8fc7fa;
    color: #062e6f;
    padding: 10px 20px;
    height: 40px;
    width: 90px;
    text-align: center;
}

.login-footer {
    margin-top: 20px;
    background-color: #1e1f20;
    padding: 0 1rem;
    color: #3e4140;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.language-selector {
    background-color: transparent;
    color: #3e4140;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 2px 10px;
    border-radius: 10px;
}

.language-selector select {
    color: aliceblue;
    height: 20px;
    width: 200px;
    background-color: transparent;
    border: none;
    outline: none;
}

.language-selector select option {
    background-color: #3e4140;
    color: aliceblue;
}

.language-selector:hover {
    background-color: #3e4140
}

.login-footer-links {
    background-color: #1e1f20;
}

.login-footer-links a {
    background-color: #1e1f20;
    color: aliceblue;
    margin-right: 10px;
    font-size: 0.8rem;
    text-decoration: none;
    border-radius: 10px;
    padding: 2px 10px;
}

.login-footer-links a:hover {
    background-color: #3e4140
}