* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1f20;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1f20;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160vh;
  padding: 5px 3rem;
  height: 75vh;
  background-color: #0e0e0e;
  border-radius: 30px;
  font-size: 0.85rem;
  color: aliceblue;
}

.login-container a {
  text-decoration: none;
}

.login-container-content {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  height: 90%;
  width: 100%;
}

.login-container-content-header {
  width: 52%;
}

.login-header-titles {
  background-color: transparent;
  position: relative;
  top: 25px;
}

.login-header-signin-title {
  font-size: 2.2rem;
  font-weight: light;
  margin-bottom: 20px;
}

.login-header-continue-title {
  font-size: 1.1rem;
  font-weight: light;
}

.g-wrap {
  width: 50px;
  height: 50px;
  background-color: transparent;
}

.login-container-content-form {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
}

.login-form-container {
  height: 100%;
}

.login-form {
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form-inputs {
  margin-top: 90px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.login-form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin-bottom: 10px;
  border: 1.5px solid aliceblue;
  border-radius: 5px;
}

.login-form-input input {
  height: 50px;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0 10px;
  font-size: 1rem;
  color: aliceblue;
  border-radius: 5px;
  outline: none;
}

.login-form-input-label {
  position: absolute;
  top: 6px;
  left: 10px;
  padding: 10px;
  font-size: 1rem;
  color: aliceblue;
  pointer-events: none;
  transition: 0.2s;
}

.login-form-input input:focus ~ span,
.login-form-input input:not(:placeholder-shown) ~ span {
  transform: translateX(-7px) translateY(7px);
  top: -15px;
  left: 13px;
  font-size: 0.8rem;
  color: #8fc7fa;
  padding: 1px 10px;
}

.login-form-input.error input:focus ~ span,
.login-form-input.error input:not(:placeholder-shown) ~ span {
  color: #e4918d;
}

.login-form-input:has(input:focus) {
  border: 1.5px solid #8fc7fa;
}

.login-form-input.error:has(input:focus) {
  border: 1.5px solid #e4918d;
}

.login-form-input.error span {
  color: #e4918d;
}

.login-form-input-errors {
  margin: -4px 0 4px;
  overflow-y: hidden;
}

.input-error {
  display: none;
  align-items: center;
  gap: 6px;
  color: #e4918d;
  font-size: 0.8rem;
}

.input-error svg {
  width: 16px;
  height: 16px;
  fill: #e4918d;
}

.login-form-input.error {
  border: 1.5px solid #e4918d;
}

.login-form-input.error:focus {
  border: 1.5px solid #e4918d;
}

.login-form-forgot-email {
  color: #8fc7fa;
}

.login-learn-more {
  margin-top: 20px;
  line-height: 20px;
}

.login-learn-more a {
  color: #8fc7fa;
}

.login-learn-more a:hover {
  text-decoration: underline;
}

.login-container-content-form-nav {
  display: flex;
  border-radius: 30px;
  position: relative;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 10px;
}

.login-container-content-form-nav button {
  border: none;
  font-size: 0.9rem;
  border-radius: 30px;
  cursor: pointer;
}

.login-container-content-form-nav .dropdown-menu {
  width: 200px;
  background-color: #0e0e0e;
  left: 150px;
}

.create-account-menu li {
  background-color: #0e0e0e;
  color: aliceblue;
}

.create-account-menu.dropdown-menu {
  background-color: #0e0e0e;
}
.create-account-menu .dropdown-item {
  color: aliceblue;
  text-decoration: none;
}

.create-account-menu.dropdown-menu li:hover {
  background-color: #303233;
}

.create-account-btn {
  width: 130px;
  height: 40px;
  margin-right: 20px;
  color: #8fc7fa;
}

.create-account-btn:hover {
  background-color: rgb(24, 24, 24);
}

.next-btn {
  background-color: #8fc7fa;
  color: #062e6f;
  width: 90px;
  height: 40px;
}

.next-btn:hover {
  background-color: #9eccf8;
}

.login-footer {
  margin-top: 20px;
  background-color: #1e1f20;
  padding: 0 1rem;
  color: #3e4140;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.language-selector {
  background-color: transparent;
  color: #3e4140;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 10px;
}

.language-selector select {
  color: aliceblue;
  height: 20px;
  width: 200px;
  background-color: transparent;
  border: none;
  outline: none;
}

.language-selector select option {
  background-color: #3e4140;
  color: aliceblue;
}

.language-selector:hover {
  background-color: #3e4140;
}

.login-footer-links {
  background-color: #1e1f20;
}

.login-footer-links a {
  background-color: #1e1f20;
  color: aliceblue;
  margin-right: 10px;
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 10px;
  padding: 2px 10px;
}

.login-footer-links a:hover {
  background-color: #3e4140;
}
