.drive-filter-bar {
  position: relative;
  top: 0;
  z-index: 101; /* Higher than empty-container */
  background-color: #fff;
}

.drive-filter-option-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: transparent;
  position: relative;
}
.drive-filter-option-bar * {
  background-color: transparent;
}
.filter-option-btn {
  border: 1px solid black;
  outline: none;
  padding: 7px 15px;
  border-radius: 7px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.filter-option-btn:hover {
  background-color: #e4e4e4;
}
.filter-option-btn:hover * {
  transition: all 0s ease-in-out;
  background-color: #e4e4e4;
}

.filter-option-chevron-icon {
  height: 16px;
  width: 16px;
  background-color: transparent;
}

.option-type-dropdown-menu.dropdown-menu {
  position: absolute;
  top: 42px;
  left: 10px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px 0;
  width: 190px;
  height: 374px;
  justify-content: center;
  align-content: center;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.option-type-dropdown-menu .filter-option-type-dropdown-ul-li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  padding: 8px 10px;
}
.filter-option-people-dropdown-search-bar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 5px 10px;
  border: 2px solid transparent;
}
.filter-option-people-dropdown-search-bar:focus-within {
  border: 2px solid #4285f4;
  border-radius: 5px;
}
.filter-option-people-dropdown-search-bar svg {
  height: 20px;
  width: 20px;
  background-color: transparent;
  align-self: center;
}
.filter-option-people-dropdown-search-bar input {
  width: 100%;
  padding: 7px 10px;
  border: none;
  outline: none;
  font-size: 0.95rem;
}
.filter-option-people-dropdown-ul {
  display: flex;
  flex-direction: column;
}
.filter-option-people-dropdown-ul-li.people {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 8px 10px;
}
.filter-option-people-dropdown-ul-li.people svg {
  height: 24px;
  width: 24px;
  background-color: transparent;
}
.filter-option-people-dropdown-ul-li-account {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.option-people-dropdown-menu.dropdown-menu {
  position: absolute;
  top: 42px;
  left: 110px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5px 0;
  width: 260px;
  justify-content: center;
  align-content: center;
}

.option-modified-dropdown-menu.dropdown-menu {
  position: absolute;
  top: 42px;
  left: 217px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 0;
  width: auto;
  justify-content: center;
  align-content: center;
}
.filter-option-modified-dropdown-lists {
  display: flex;
}
.filter-option-modified-dropdown-ul.dates-options {
  width: 220px;
}

.filter-option-modified-dropdown-ul.dates-options
  .filter-option-modified-dropdown-ul-li {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  padding: 8px 10px 8px 40px;
  font-size: 0.9rem;
}
.filter-option-modified-dropdown-ul.dates-options
  .filter-option-modified-dropdown-ul-li:hover {
  background-color: #f0f0f0;
}
.custom-date-panel {
  height: 100%;
}

.filter-option-modified-dropdown-ul.custom-date-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 215px;
  position: relative;
  border-left: 1px solid black;
}
.filter-option-modified-dropdown-ul.custom-date-ul
  .filter-option-modified-dropdown-ul-li {
  padding: 6px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.filter-option-modified-dropdown-ul-li input[type="date"] {
  width: 150px;
  padding: 10px;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  position: relative;
  outline: none;
}
.custom-date-ul .filter-option-modified-dropdown-ul-li span {
  position: absolute;
  left: 25px;
  top: -4px;
  transform: translateY(0%);
  font-size: 12px;
  color: rgb(0, 0, 0);
  transition: all 0.2s;
  pointer-events: none;
  background-color: #ffffff;
  padding: 0 2px;
}
.custom-date-ul
  .filter-option-modified-dropdown-ul-li
  input[type="date"]:focus
  ~ span {
  color: #0b57d0;
}

.filter-option-modified-dropdown-ul-li input[type="date"]:focus {
  border-color: #0b57d0;
}
.custom-date-ul .filter-option-modified-dropdown-ul-li:hover {
  background-color: transparent;
}
.filter-option-modified-dropdown.buttons-li {
  cursor: inherit;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
}

.filter-option-modified-dropdown.buttons-li button {
  padding: 7px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #aaaaaa;
  font-size: 0.95rem;
  border-radius: 15px;
}

.filter-option-modified-dropdown.buttons-li:hover {
  background-color: transparent;
}
.filter-option-modified-dropdown.buttons-li
  .option-modified-dropdown-cancel-btn {
  color: #0b57d0;
}
.filter-option-modified-dropdown.buttons-li
  .option-modified-dropdown-cancel-btn:hover {
  background-color: #4285f4;
  color: #ffffff;
}

.option-source-dropdown-menu.dropdown-menu {
  position: absolute;
  top: 42px;
  left: 332px;
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 5;
  justify-content: center;
  align-content: center;
  width: 200px;
}
.option-source-dropdown-menu .filter-option-source-dropdown-ul-li {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  background-color: transparent;
  padding: 8px 10px;
}
.filter-option-source-dropdown-ul-li img {
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.open {
  display: flex;
}
