.r-sidebar {
    width: 4.5%;
    display: flex;
    background: transparent;
    border-radius: 8px;
    overflow: hidden;
    height: 487px;
}

.r-sdb-nav-link {
    height: 100%;
    background-color: rgb(70, 82, 82);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.2s ease;
}

.r-sdb-nav-icon-link {
    max-height: 420px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.r-sdb-nav-icons {
    width: 57px;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    gap: 10px;
    overflow-y: auto;
    scrollbar-width: thin;
    overflow-x: hidden;
}

.r-sdb-icon-btn {
    width: 40px;
    height: 40px;
    border: 0;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-content: center;
    transition: transform .15s;
}

.r-sdb-icon-btn:hover {
    transform: scale(1.08);
}

.r-sdb-icon-btn img {
    width: 24px;
    height: 24px;
    background: transparent;
}

.r-sdb-add-btn {
    margin: 15px auto;
}

.r-sdb-chevron-btn {
    position: absolute;
    bottom: 10px;
    right: 7px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.r-sdb-chevron-btn.active {
    position: absolute;
    bottom: 10px;
    right: 0px;
    padding: 0 20px 0 15px;
    border-radius: 30px 0 0 30px;
    background-color: #d6dbe3;
    /* transform: translateX(-10px); */
    transition: all 0.1s ease-in-out;
}